{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/nav.css' %}">
</head>
<body>
    <header>
        <div id="circ"></div>
        <div id="sqr"></div>
        <div id="ht">
            <h1>VÄLKOMMEN TILL C-TREAM</h1>
            <P>STREAMING AV PROGRAMMERING</P>
        </div>
        <div id="ssqr"></div>
    </header>
    <div id="sch">
        <div>pppp</div>
        <div>pppp</div>
        <div>pppp</div>
        <div>pppp</div>
        <div>pppp</div>
    </div>
    <div id="gts">
        <a href="stream"><h1>GÅ TILL LIVESTREAM</h1></a>
    </div>
    <footer>
        <div></div>
    </footer>
</body>
</html>