*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    background-color: #1261A0;
    height: 100vh;
}
#a-full{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.a-img{
    background-color: #3895d3;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}